html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;


    --form: rgb(26, 26, 26); 

    --gray-100: #111;
    --gray-200: #222;
    --gray-300: #333;
    --gray-400: #444;
    --gray-500: #555;
    --gray-600: #666;
    --gray-700: #777;
    --gray-800: #888;
    --gray-900: #999;

    --blue-100: #111119;


    --Eminence: #7E2E84;
    --Magenta: #314081;
    --Pink: #ef798a;
    --Latte: #f9f5e3;
    --Tea: #ccf5ac;

    --yellow: #FFFFD1;
    --purple: #BD57CD;

    
    

    background-color: black;
    color: white;
    
    min-height: 100vh;
  }
  
  a {
    color: inherit;
    text-decoration: none;
  }
  
  * {
  box-sizing: border-box;
  margin: 0;
  color: white;
}
button {
  color: white;
  background-color: rgba(0, 0, 0, 0.3);
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 8px;
  padding: 10px;
  cursor: pointer;
  font-weight: 700;
}
input[type="text"] {
  padding: 10px;
  cursor: pointer;
  font-weight: 700;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 8px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.17);
  color: white;
}
input[type="checkbox"] {
  min-width:  20px;
  min-height: 20px;
}
select {
  border: none;
  border-radius: .25rem;
  padding: 5px;
  cursor: pointer;
  font-weight: 700;
  background-color: var(--gray-100);
  outline: none;
}
option {
  border: none;
  border-radius: .25rem;
  padding: 5px;
  cursor: pointer;
  font-weight: 500;
  background-color: var(--gray-100);
  outline: none;
}
form {
  display: flex;
  flex-direction: column;
  gap: .25rem;
}
input[type="text"]:focus {
  outline: none;
}