


.container {
  background: url('/images/background.jpg');
  background-position: center !important;
  background-repeat: no-repeat !important;
  background-size: cover !important;
  position: fixed;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100%;
  opacity: .5;
  z-index: 1;
  animation: slooth 1s cubic-bezier(0.075, 0.82, 0.165, 1);



  
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 6rem;
  min-height: 100vh;
  min-width: 100vw;
  gap: 1rem;
  position: relative;
  z-index: 10;

}

.characters {
  position: absolute;
  left: 2rem;
  width: 200px;
  top: 2rem;
}
.characters p {
  position: relative;
  display: flex;
}
.blip {
  transition: all 1s ease-in-out;
  position: absolute;
  width: 30px;
  left: -20px;
  color: var(--Tea);
}
@keyframes slideIn {
  0% {
    opacity: 0;
    scale: 1.5;
    left: 70px;
    height: 0;
  }
  100% {
    height: fit-content;
    opacity: 1;
  }
}

.characters p:first-child {
  font-size: 22px;
  font-weight: 700;
  color: var(--Tea)
}
.characters p {
  position: absolute;
  width: 200px;
}

.questions {
  position: fixed;
  right: 2rem;
  top: 2rem;
}
.questions p {
  transition: all 1s cubic-bezier(0.075, 0.82, 0.165, 1);
  color: white;
  cursor: pointer;
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
}
.winner {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  min-height: 100vh;
  padding-bottom: 8rem;
  backdrop-filter: blur(10px);

  animation: winnerMain 10s 0s cubic-bezier(0.075, 0.82, 0.165, 1) forwards
}
.winner img {
  animation: winner 10s 0s cubic-bezier(0.075, 0.82, 0.165, 1) forwards;
  border-radius: 20px;
  opacity: 0;
  object-fit: cover;
  position: relative;
}
.winner h1 {
  opacity: 0;
  animation: winnerTitle 5s 0s cubic-bezier(0.075, 0.82, 0.165, 1) forwards
}
.winner p {
  font-size: 20px;
  padding: .25rem;
}
.progress {
  position: fixed;
  bottom: .5rem;
  scale: .9;
  max-width: 400px;
}
@keyframes winner {
  0%, 30% {
    opacity: 0;
    scale: .2;
    translate: 0px -300px;
    height: 0px;
  }
  50% {
    scale: .5;
    opacity: .05;
  }
  100% {
    opacity: 1;
    sclale: 1;
  }


}
@keyframes winnerMain {
  0%, 90% {
    backdrop-filter: blur(10px);
    scale: 1.05;
  }
  100% {
    backdrop-filter: blur(0px);
    scale: .8;
  }


}
@keyframes winnerTitle {
  
  
  20% {
    scale: 0.1;
    opacity: 0;
    max-height: 20px;
  }
  50%, 80% {
    scale: 3;
    max-height: 120px;
  }
  100% {
      opacity: 1;
      scale: 2;
      margin-bottom: 20px;
      max-height: 120px;
  }

}

.question {
  display: flex;
  flex-direction: column;
  background: transparent;
  padding: 2rem 4rem; 
  animation: question 500ms ease-in-out;
  max-width: 100vw;
  
  background: rgba(255, 255, 255, 0.1);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.17);
}

@keyframes question {

    0% {
      scale: 0;
      opacity: 0
    }
    100% {
      
    }
}
@keyframes slooth {

  0% {
    scale: 0;
    opacity: 0
  }
  100% {
    
  }
}
@keyframes answer {

  0% {
    scale: 0;
    opacity: 0
  }
  100% {
    min-height: 50px;
    padding: 1rem;
  }
}
.answers {
  margin-top: 1rem;
  border-radius: 5px;
  display:flex;
  gap: 1rem;
  width: 100%;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-height: 10px;
  width: 100%;
  
}
.answer {
  animation: answer 500ms ease-in-out forwards;
  max-height: 0px;
  padding: 0;
  overflow: hidden;
  font-size: 20px;
  border-radius: 5px;
  min-width: 150px;
  cursor: pointer;
  transition: all 100ms ease;
  width: 100%;
  opacity: 0.85;
  background-color: var(--gray-300);
  font-weight: 700;

  background: rgba(255, 255, 255, 0.0);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(4.8px);
  -webkit-backdrop-filter: blur(4.8px);
  border: 1px solid rgba(255, 255, 255, 0.17);
}
.answer:hover {
  opacity: 1;
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
}
.answer > p {
  backdrop-filter: blur(20px)
}

@media (max-width: 767px) {
   .questions {
    display: none;
  }
  .main {
    padding: .5rem;
  }
  .answer {
    height: 0px;
  }
  .winner h1 {
    font-size: 16px;
  }
  .winner img {
    scale: .8
  }
  .characters {
    position: fixed;
    margin-bottom: 1rem;
  }


}


.factors {

  overflow: hidden;
  margin-top: 1rem;
  height: fit-content;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  background: rgba(255, 255, 255, 0.0);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(4.8px);
  -webkit-backdrop-filter: blur(4.8px);
  border: 1px solid rgba(255, 255, 255, 0.17);
  border-radius: 5px;

  transition: all 2s cubic-bezier(0.075, 0.82, 0.165, 1);
  animation: slideIn 2s 10s cubic-bezier(0.075, 0.82, 0.165, 1) forwards;
  height: 50px;
  opacity: 0;
}

.factor {

}
.factor p {
  
}

